input[type=text]{
        		border-radius: 20px;
        		width: 280px;
        	}
        	.search {
        		padding: 220px;
        	}
            .searchbar {
                height:45px;
                border:none;
                width:500px;
                font-size:16px;
                outline: none;
            }
            .link{
                align:left;
            }